/* Right center */
.focus-first-right:focus + .focus-second-right {
  transform: scale(1, 1) translate(24px, 50%) !important;
  opacity: 1 !important;
}

.focus-second-right:has(div button:focus) {
  transform: scale(1, 1) translate(24px, 50%) !important;
  opacity: 1 !important;
}

.focus-second-right {
  transform: scale(0, 0) translate(24px, 50%);
  position: absolute;
  transition: 0.25s ease;
  transition-property: opacity;
  opacity: 0;
}

/* Bottom to right */
.focus-first-bottom:focus + .focus-second-bottom {
  transform: scale(1,1) translate(0%, 0%) !important;
  opacity: 1 !important;
}

.focus-second-bottom {
  transform: scale(0,0) translate(0%, 0px);
  position: absolute;
  transition: 0.5s ease;
  transition-property: opacity;
  opacity: 0;
}