/* Right center */
.focus-first-right:focus + .focus-second-right {
  transform: scale(1, 1) translate(24px, 50%);
  opacity: 1;
}

.focus-first-right + .focus-second-right:has(div button:focus) {
  transform: scale(1, 1) translate(24px, 50%);
  opacity: 1;
}
.focus-first-right + .focus-second-right:hover {
  transform: scale(1, 1) translate(24px, 50%);
  opacity: 1;
}

.focus-second-right {
  transform: scale(0, 0) translate(24px, 50%);
  position: absolute;
  transition: 0.25s ease;
  transition-property: opacity;
  opacity: 0;
}

/* ! For data-intable special */
.focus-first-right:focus + .focus-second-right:where([data-intable="true"]) {
  transform: scale(1, 1) translate(calc(50% + 16px), calc(50% - 16px)) !important;
}
.focus-second-right:where([data-intable="true"]):has(div button:focus) {
  transform: scale(1, 1) translate(calc(50% + 16px), calc(50% - 16px)) !important;
  opacity: 1;
}



/* Bottom to right */
.focus-first-bottom:focus + .focus-second-bottom {
  transform: scale(1,1) !important;
  opacity: 1 !important;
}
.focus-first-bottom:focus:active + .focus-second-bottom {
  transform: scale(0,0) !important;
  opacity: 0 !important;
}
.focus-second-bottom {
  transform: scale(0,0);
  position: absolute;
  transition: 0.5s ease;
  transition-property: opacity;
  opacity: 0;
}
.focus-second-bottom:has(div button:focus) {
  transform: scale(1,1) !important;
  opacity: 1;
}
.focus-second-bottom:has(div button:focus) {
  transform: scale(1,1) !important;
  opacity: 1;
}