@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundDark: #131619;
  --backgroundLight: #f1f3f9;
  --backgroundHoverDark: #333639;
  --backgroundHoverLight: #e3e6ee;
  --backgroundSecondDark: #181b1e;
  --backgroundSecondLight: #ffffff;
  --backgroundThirdDark: #232629;
  --backgroundThirdLight: #e9eaef;
  --backgroundAccentDark: #ff712b;
  --backgroundAccentLight: #ff5500;
  --borderDark: #43464a;
  --borderLight: #c3c6c9;
  --textDark: #ffffff;
  --textLight: #111827;
  --buttonDark: #ff1515;
  --buttonLight: #ff2c2c;
  --buttonHoverDark: #ff4444;
  --buttonHoverLight: #da0000;
  --iconDark: #ff0000;
  --iconLight: #ff0000;
  --shadowDark: #eeeeee;
  --shadowLight: #60636c;
  --successDark: #00ff00;
  --successLight: #00ff00;
  --warningDark: #000;
  --warningLight: #000;
  --errorDark: #ff4561;
  --errorLight: #ff4561;
}

body,html {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto','Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100dvh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
