@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundDark: #131619;
  --backgroundLight: #f7f9fc;
  --backgroundHoverDark: #333639;
  --backgroundHoverLight: #e3e6ee;
  --backgroundSecondaryDark: #0f1316;
  --backgroundSecondaryLight: #ffffff;
  --backgroundThirdDark: #232629;
  --backgroundThirdLight: #e9eaef;
  --backgroundAccentDark: #ff712b;
  --backgroundAccentLight: #ff5500;
  --borderDark: #43464a;
  --borderLight: #c3c6c9;
  --textDark: #dddddd;
  --textLight: #111827;
  --textClickableDark: #dddddd;
  --textClickableLight: #111827;
  --textHoverDark: #ff9999;
  --textHoverLight: #660000;
  --iconDark: #ff0000;
  --iconLight: #ff0000;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto','Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100vh;
  width: 100vw;
}
body {
  height: calc(100% - 56px);
}
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
