@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundDark: #131619;
  --backgroundLight: #f1f3f9;
  --backgroundHoverDark: #333639;
  --backgroundHoverLight: #e0e3e9;
  --backgroundSecondDark: #181b1e;
  --backgroundSecondLight: #ffffff;
  --backgroundThirdDark: #232629;
  --backgroundThirdLight: #e9eaef;
  --backgroundAccentDark: #ff712b;
  --backgroundAccentLight: #ff5500;
  --borderDark: #43464a;
  --borderLight: #c3c6c9;
  --textDark: #ffffff;
  --textLight: #111827;
  --buttonDark: #ff1515;
  --buttonLight: #ff2c2c;
  --buttonHoverDark: #ff4444;
  --buttonHoverLight: #da0000;
  --iconDark: #ff0000;
  --iconLight: #ff0000;
  --shadowDark: #eeeeee;
  --shadowLight: #60636c;
  --success: #00ff00;
  --warning: #ff8800;
  --error: #bb0d0d;

  --treeMain: #ff4d00;
  --treeFolder: #ffd900;
  --treeFile: #0bd300;
}

body,html {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto','Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--backgroundDark);
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--backgroundLight);
  }
}

#root {
  min-height: 100dvh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button svg, button path {
  pointer-events: none;
}

div {
  user-select: none;
}


/* Delete arrows from input type="number" */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
